<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div  -->
          <div class="col-md-6 col-12 main_header_right aling-items-center">
            <figure>
              <img src="images/about.jpg" alt="Prabhat" class="img-fluid" title="Prabhat Meena">
            </figure>
          </div>
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to my profile</p>
            <h1>I am a <span class="text_color">MERN stack developer </span>And a student who is seeking an opportunity to utilize my talent</h1>
            <a href="https://www.linkedin.com/in/prabhat-meena-470184250/" target="_blank"><button>More About Me</button></a>
          </div>
          <!-- right side div  -->

        </div>
      </div>

    </div>
    <!-- footer -->
    {{>footer}}
  </body>
</html>

